// setting de base , couleur , fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;800&family=Exo:ital,wght@0,300;1,200;1,400&display=swap');


$font-1: "Exo 2", sans-serif;

$color-1: #0096f0;
$color-2: #8ac997;
$color-3: black;
h1 {
  color: $color-2;
  justify-items: center;
  justify-content: space-around;
  font-family: $font-1;

}

body {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-family: $font-1;
  height: 100vh;

}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



