.liste {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.listItemHeader{
    background-color: #8ac997;
}
.listHeader{
    color: white;
    font-weight:bolder;
    width: 20%;
}
.listItemBody {
    border-width: 0 0 1px 0;
    border-color: #242d49;
    border-style: solid;
}
.listItem{
    width: 20%;

}
.bouton {
    padding-top: 20px;
    text-align: center;
}

.conteneurs {
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    background-color: #daebd3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding:  20px 0 20px 0;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
