.liste {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 2rem;
}
.listItemHeader{
    background-color: #8ac997;
}
.listHeader{
    color: white;
    font-weight:bolder;
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #dcdcdc;
    &--neron {
         cursor: pointer;
        &:hover {
            background-color: #0096f0;
            border-radius: 0.7rem;
        }
     }
}
.listItemBody {
    border-width: 0 0 1px 0;
    border-color: #242d49;
    border-style: solid;
}
.listItem{
    width: 20%;

}
.bouton {
    padding-top: 20px;
    text-align: center;
}

.conteneurs {
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    background-color: #daebd3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding:  20px 0 20px 0;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.selectionFiltre{
    text-align: center;
    width: 10rem;
    height: 2rem;
    margin-left: 1rem;
    font-size: large;
    border-radius: 3rem;
}

.filter{
    display: flex;
    justify-content: center;

}
.filterchild{
    border: #0096f0 1px  solid;
    border-radius: 8px;
    background: whitesmoke;
    font-size: medium;
}

.datePickerHistorique {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    &__container {
        padding: 0 15px 0 15px;
    }
}
.buttonChoice{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    text-align: center;
    margin-left: 1rem;


    &__filter{
        padding: 0 20px 0 10px;

    }


}
