.MainDashClient {
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  background-color: #daebd3;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .emptyCollect {
    color: red;
    font-weight: bold;
  }
}

.scroll {
  width: 93%;
  height: 93%;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.idClient {
  word-wrap: break-word;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  background-color: #8ac997;
  margin-top: 2rem;
  gap: 10px;
  border-radius: 3rem;
  width: 50rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;

  h4 {
    margin-top: 2rem;
  }

  p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-weight: lighter;
  }
}

.abonnement {
  word-wrap: break-word;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  background-color: #8ac997;
  margin-top: 2rem;
  gap: 10px;
  width: 50rem;
  border-radius: 3rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;

  h4 {
    margin-top: 2rem;
  }

  p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-weight: lighter;
  }
}

.dontvalid {
  word-wrap: break-word;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  background-color: red;
  margin-top: 2rem;
  gap: 10px;
  border-radius: 3rem;
  width: 50rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.typeDechets {
  word-wrap: break-word;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
  background-color: #8ac997;
  margin-top: 2rem;
  gap: 10px;
  width: 50rem;
  border-radius: 3rem;
  font-size: 20px;
  color: white;
  text-align: center;

  h4 {
    margin-top: 2rem;
  }

  p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}
