.liste {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.listItemHeader {
    background-color: #8ac997;
}

.listHeader {
    color: white;
    font-weight: bolder;

}

.listHeaderEnd {
    color: white;
    font-weight: bolder;
    width: 6%;
    text-align-last: center;
    padding-left: 2px;
}

.listItem {
    width: 2%;
    text-align: center;
}

.listItem1 {
  margin-left: 4%;
}
.listItem2 {
    margin-left: 2%;
}


.ValidClient {
    margin-left: 20%;
}

.listItemEnd {
    width: 50%;
    text-align: left;
}

.bouton {
    padding-top: 20px;
    text-align: center;
}

.conteneurs {
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    background-color: #daebd3;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}